/* layout */
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: #31525B;
  scroll-behavior: smooth;
}

h3 {
  font-weight: 300;
  font-size: 2em;
}

p {
  font-weight: 100;
  font-size: 1.3em;
}

.font-400 {
  font-weight: 400;
}

.emphasis {
  font-weight: 900;
  font-size: 1.6em;
}

a {
  color: rgba(249,219,24,1);
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.button {
  font-family: 'Lato', sans-serif;
  background-color: #31525B;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.scroll-btn {
  background-color: rgba(249,219,24,1);
  border: none;
  color: #31525B;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  z-index: 3;
}

.scroll-btn:hover {
  background-color: #fff;
  color: #31525B;
  border: none;
}

.link-btn {
  width: 20%;
}

.active, .scatter-btn:hover, .link-btn:hover {
  background-color: rgba(255,161,1,1);
  border: 1px solid rgba(255,161,1,1);
  color: #31525B;
  font-weight: 400;
}

.material-icons {
  vertical-align: text-bottom;
}

/* intro */
#intro {
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  background: url("images/robert-bye-LqZJf4ukqz0-unsplash.jpg") no-repeat center center fixed; /* Do not repeat the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
}

.layer {
  background-color: rgba(49, 82, 91, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro-text h1 {
  font-weight: 900;
  font-size: 5em;
  margin-bottom: 5px;
}

.intro-text h2 {
  font-weight: 100;
  margin-top: 10px;
  font-size: 2.4em;
}

/* background */
#background {
  width: 50%;
  margin: auto;
  padding-top: 40px;
  margin-bottom: 0;
  margin-top: 0;
}

/* income and crime scatterplot section */
#income-crime {
  margin-top: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  width: 80%;
  margin: auto;
  position: relative;
}

#scatter-container {
  height: 80%;
  width: 60vw;
}

.scatter-description {
  width: 30vw;
  padding-left: 50px;
}



/* income and crime scatterplot chart */
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-tooltip h3 {
    margin: 0.3em 0;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* popup window for chart sources */
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 82, 91, 0.7);
  z-index: 2;
}

.overlay-content {
  background-color: rgba(49, 82, 91, 1);
  color: #fff;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 1px solid #fff;
  padding: 25px;
  text-align: left;
  font-size: 0.8em;
  width: 55%;
}

#income-crime-source-list {
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 0:
  margin-bottom: 0;
}

/* divider between sections */
.divider {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

/* LQ map */

/* income map */
#income-change {
  height: 100vh;
  padding-top: 3px;
  position: relative;
}

#services {
  height: 11vh;
}

.map {
  height: 70vh;
  position: relative;
}

#slider {
  -webkit-appearance: none;
  width: 90%;
  height: 10px;
  border-radius: 5px;
  background: #5c8eb0;
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff4a17;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  border: 1px solid #ff724a;
  cursor: pointer;
}

.labels {
  display: flex;
  width: 90%;
  margin: 10px;
  justify-content: space-between;
}

.lenged {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  background: #31525B;
  width: 150px;
  padding: 10px 20px;
  margin-left: 20px;
}

.lenged .title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lenged-item span{
  display: inline-block;
}

.map .scroll-btn {
  position: absolute;
  bottom: 20px;
  left: 40%;
}

/* footer */
#footer {
  padding: 40px;
  text-align: center;
  position: relative;
}

/* overlay page for references */
#reference-overlay {
  position: fixed;
  bottom: 0;
  z-index: 10000;
}

