/* layout */
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: #31525B;
  scroll-behavior: smooth;
}

#emphasis {
  font-weight: 900;
  font-size: 1.2em;
}

.button {
  font-family: 'Lato', sans-serif;
  background-color: #31525B;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.active, .button:hover {
  background-color: rgba(255,161,1,1);
  border: 1px solid rgba(255,161,1,1);
  color: #31525B;
  font-weight: 400;
}

.scroll-btn {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 18px;
}

.scroll-btn:hover {
  background-color: rgba(255,161,1,0.8);
  border: 1px solid rgba(255,161,1,0.8);
}

.scroll-btn .material-icons {
  vertical-align: text-bottom;
}

/* intro */
#intro {
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  background: url("images/robert-bye-LqZJf4ukqz0-unsplash.jpg") no-repeat center center fixed; /* Do not repeat the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
}

.layer {
  background-color: rgba(49, 82, 91, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro-text h1 {
  font-weight: 900;
  font-size: 5em;
  margin-bottom: 5px;
}

.intro-text h2 {
  font-weight: 100;
  margin-top: 10px;
  font-size: 2.4em;
}

/* income and crime scatterplot */

#income-crime {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#scatter-container {
  height: 80%;
  width: 60vw;
}

.scatter-description {
  width: 33vw;
  padding: 20px;
  font-size: 1.1em;
  font-weight: 100;
}

.custom-select {
  font-weight: 400;
}

/* chart */
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-tooltip h3 {
    margin: 0.3em 0;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
